#contact
{
	
	background: dimgray;
	width: 100%;
}

h2
{
	font-display: ;
	text-transform: uppercase;
	color: cadetblue;
}
button
{
	padding: 15px;
	width: 200px;
	border-radius: 30px;
	font-size: 1.5rem;
	justify-content: space-between;
	text-transform: capitalize;
	cursor: pointer;
}
input, textarea
{
	padding: 40px;
	width: 400px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
	border: 1.5px solid #777;
	outline: none;
	margin: 10px;
	resize: none;
}
.textarea
{
	height: 150px;
	padding-top: 10px;
}

.get-started-home
{
	border: 1.5px solid beige;
	background-color: #00ffffa3;
	color: white;
}
.get-started-home:hover
{
	transform: translateX(60px);
	transition: 1.5s;
	background-color: #1a8383a3;
}

h5
{
	font-size: 20px;
	text-transform: uppercase;
	color: cadetblue;
}